<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>I need to do this...</h1>
    
    <form method="POST">
        
        {% csrf_token %}
        
        <!--<lable for="id_name">Name:</lable><br>-->
        <!--<input type="text" id="id_name" name="name"/><br>-->
        <!--<br>-->
        <!--<lable for="id_done">Done:</lable><br>-->
        <!--<input type="checkbox" id="id_done" name="done"/><br>-->
        <!--<br>-->
        
        {{ form.as_p }}
        
        
        <button type="submit">Save</button>
    </form>
    
</body>
</html>